<!DOCTYPE html>
<html>
<head>
  <title>
    Noticias
  </title>
  <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

  <script src="http://urigo.github.io/angular-spinkit/javascripts/angular-spinkit.js"></script>
  <script src='https://cdn.jsdelivr.net/g/lodash@4(lodash.min.js+lodash.fp.min.js)'></script>

</head>
<body>
  <div ng-app="formApp" ng-controller="formCtrl" class="container">
    <wave-spinner ng-show="proccesSpinner"></wave-spinner>


    <div class="col-md-12">
      <div class="col-md-3">
        <h5>Sección 1</h5>
        <div ng-repeat="item in sectionOne track by $index">
          <span ng-html-compile="item.htmlNew" ng-click="cuentaClick(item, 'sectionOne')"></span>
        </div>
      </div>
      <div class="col-md-6">
        <h5>Sección 2</h5>
        <div ng-repeat="item in sectionTwo track by $index">
          <span ng-html-compile="item.htmlNew" ng-click="cuentaClick(item, 'sectionTwo')"></span>
        </div>
      </div>
      <div class="col-md-3">
        <h5>Sección 3</h5>
        <div ng-repeat="item in sectionThree track by $index">
            <span ng-html-compile="item.htmlNew" ng-click="cuentaClick(item, 'sectionThree')"></span>
        </div>
      </div>
    </div>
    <dvi class="col-md-12">
      <div class="col-md-6">
        <table class="table">
          <tr ng-repeat="item in sectionOne track by $index">
            <td class="col-md-6">
              {{item.title}}
            </td>
            <td class="col-md-2">
              {{item.count}}
            </td>
            <td class="col-md-4">
              <button class="btn btn-xs btn-primary" type="button"><i class="icon-edit"></i>Editar</button>
              <button class="btn btn-xs btn-danger" type="button"><i class="icon-trash"></i>Eliminar</button>
            </td>
          </tr>
          <tr ng-repeat="item in sectionTwo track by $index">
            <td class="col-md-6">
              {{item.title}}
            </td>
            <td class="col-md-2">
              {{item.count}}
            </td>
            <td class="col-md-4">
              <button class="btn btn-xs btn-primary" type="button"><i class="icon-edit"></i>Editar</button>
              <button class="btn btn-xs btn-danger" type="button"><i class="icon-trash"></i>Eliminar</button>
            </td>
          </tr>
          <tr ng-repeat="item in sectionThree track by $index">
            <td class="col-md-6">
              {{item.title}}
            </td>
            <td class="col-md-2">
              {{item.count}}
            </td>
            <td class="col-md-4">
              <button class="btn btn-xs btn-primary" type="button"><i class="icon-edit"></i>Editar</button>
              <button class="btn btn-xs btn-danger" type="button"><i class="icon-trash"></i>Eliminar</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <div class="form-group ">
          <label for="sec">Sección</label>
          <select id="sec" class="form-control" ng-model="control.section" ng-options="s.id as s.name for s in sections"></select>
        </div>
        <div class="form-group ">
          <label for="name">Título</label>
          <input ng-model="control.title" class="form-control" type="text">
        </div>
        <div class="form-group ">
          <label for="name">Url</label>
          <input ng-model="control.url" class="form-control" type="text">
        </div>
        <div class="col-md-12 ">
          <button class="btn btn-primary pull-right" type="button" ng-click="addItem(control)">Agregar</button>
        </div>
      </div>
      <div class="col-md-12" ng-show="false">
        <pre>
          <span ng-repeat="item in sectionOne track by $index">{{item}}</span>
        </pre>
      </div>
  </div>
  <script type="text/javascript">
    angular
      .module('formApp', ['angularSpinkit'])
      .controller('formCtrl', function($scope, $log) {
        $scope.sections = [{id:'sectionOne', name:'Sección 1'}, {id:'sectionTwo', name:'Sección 2'}, {id:'sectionThree', name:'Sección 3'}];
        $scope.sectionOne = [{"id":3,"title":"México cae frente Alemania, quieren destruir todo","htmlNew":"<label> <a href=http://www.elgrafico.mx/deportes/29-06-2017/alemania-vence-mexico-4-1-y-los-humillantes-memes-estallan target='_blank'>México cae frente Alemania, quieren destruir todo</label></dt>","count":0},
          {"id":6,"title":"Mientras en la cancha bailan a México esto paso","htmlNew":"<label> <a href=http://www.elfinanciero.com.mx/economia/esto-paso-mientras-mexico-era-bailado-por-alemania.html target='_blank'>Mientras en la cancha bailan a México esto paso</label></dt>","count":0},
          {"id":3,"title":"Unos gritan, otros lloran por el partido","htmlNew":"<label> <a href=http://www.eluniversal.com.mx/articulo/deportes/futbol/2017/06/29/asi-se-vivio-el-alemania-4-1-mexico target='_blank'>Unos gritan, otros lloran por el partido</label></dt>","count":0}
        ], $scope.sectionTwo = [], $scope.sectionThree = [];
        $scope.cuentaClick = function(itemData, sectionOneData){
          if(sectionOneData == 'sectionOne'){
            var index = $scope.sectionOne.indexOf(itemData);
            var item = $scope.sectionOne[index];
            item.count ++;
            _.replace($scope.sectionOne, this.identity, item);
          }
          if(sectionOneData == 'sectionTwo'){
            var index = $scope.sectionTwo.indexOf(itemData);
            var item = $scope.sectionTwo[index];
            item.count ++;
            _.replace($scope.sectionTwo, this.identity, item);
          }
          if(sectionOneData == 'sectionThree'){
            var index = $scope.sectionThree.indexOf(itemData);
            var item = $scope.sectionThree[index];
            item.count ++;
            _.replace($scope.sectionThree, this.identity, item);
          }
          $log.log('sectionOne');
          $log.log('sectionOne', $scope.sectionTwo);
          $log.log('sectionOne', $scope.sectionThree);
        };

        $scope.addItem = function() {
          if($scope.control.section == 'sectionOne'){
            $scope.sectionOne.push({
              id : Math.floor((Math.random()*6)+1),
              title: $scope.control.title,
              htmlNew : "<label> <a href=" + $scope.control.url + " target='_blank'>"+ $scope.control.title +"</label></dt>",
              count:0
            });
          } else if($scope.control.section == 'sectionTwo'){
            $scope.sectionTwo.push({
              id : Math.floor((Math.random()*6)+1),
              htmlNew : "<label> <a href=" + $scope.control.url + " target='_blank'>"+ $scope.control.title +"</label></dt>",
              count:0
            });
          } else if($scope.control.section == 'sectionThree'){
            $scope.sectionThree.push({
              id : Math.floor((Math.random()*6)+1),
              htmlNew : "<label> <a href=" + $scope.control.url + " target='_blank'>"+ $scope.control.title +"</label></dt>",
              count:0
            });
          }
        };
    })
    .directive('ngHtmlCompile', function($compile) {
      return {
        restrict: 'A',
        link: function(scope, element, attrs) {
          scope.$watch(attrs.ngHtmlCompile, function(newValue, oldValue) {
            element.html(newValue);
            $compile(element.contents())(scope);
          });
        }
      }
    });
  </script>
</body>

</html>
